<div>
    <h2 id="page-heading">
        <span jhiTranslate="covidApp.shop.home.title">Shops</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shop" [routerLink]="['/shop/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="covidApp.shop.home.createLabel">
            Create a new Shop
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shops?.length === 0">
        <span jhiTranslate="covidApp.shop.home.notFound">No shops found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shops && shops.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="covidApp.shop.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logo"><span jhiTranslate="covidApp.shop.logo">Logo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="covidApp.shop.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="covidApp.shop.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="covidApp.shop.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="covidApp.shop.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="covidApp.shop.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shop of shops ;trackBy: trackId">
                    <td><a [routerLink]="['/shop', shop.id, 'view']">{{ shop.id }}</a></td>
                    <td>{{ shop.name }}</td>
                    <td>
                        <a *ngIf="shop.logo" (click)="openFile(shop.logoContentType, shop.logo)">
                            <img [src]="'data:' + shop.logoContentType + ';base64,' + shop.logo" style="max-height: 30px;" alt="shop image"/>
                        </a>
                        <span *ngIf="shop.logo">{{ shop.logoContentType }}, {{ byteSize(shop.logo) }}</span>
                    </td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.email }}</td>
                    <td>{{ shop.phone }}</td>
                    <td>{{ shop.description }}</td>
                    <td>
                        {{ shop.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shop', shop.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shop', shop.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shop)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
