<div >

    <div >
        <h1 class="d-flex justify-content-center" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <form class="d-flex justify-content-center" (ngSubmit)="loadAll()">

            <label>
                <input type="text" >
            </label>
        </form>


        <div class="table-responsive" id="entities" *ngIf="shops && shops.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="covidApp.shop.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="covidApp.shop.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="covidApp.shop.user">User</span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let shop of shops ;trackBy: trackId">
                    <td><a [routerLink]="['/shop', shop.id, 'view']">{{ shop.id }}</a></td>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.address }}</td>
                    <td>
                        {{ shop.user?.login }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
