<div>
    <div *ngIf="products && products.length" style="display: flex;">
        <div class="card card-detail" style="width: 18rem;" *ngFor="let product of products ;trackBy: trackId">
            <img class="card-img-top" [src]="product.thumbnail" style="max-height: 200px;" alt="product image" />
            <div class="card-body">
                <h5 class="card-title">
                    {{ product.name }} - {{ product.price | currency:'EUR' }}</h5>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <div class="card-action">
                <a href="#" class="btn btn-primary">Acheter</a>
            </div>
        </div>
    </div>
</div>