<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="covidApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="covidApp.product.name">Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span jhiTranslate="covidApp.product.thumbnail">Thumbnail</span></dt>
                <dd>
                    <div *ngIf="product.thumbnail">
                        <a (click)="openFile(product.thumbnailContentType, product.thumbnail)">
                            <img [src]="'data:' + product.thumbnailContentType + ';base64,' + product.thumbnail" style="max-width: 100%;" alt="product image"/>
                        </a>
                        {{ product.thumbnailContentType }}, {{ byteSize(product.thumbnail) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="covidApp.product.description">Description</span></dt>
                <dd>
                    <span>{{ product.description }}</span>
                </dd>
                <dt><span jhiTranslate="covidApp.product.price">Price</span></dt>
                <dd>
                    <span>{{ product.price }}</span>
                </dd>
                <dt><span jhiTranslate="covidApp.product.shop">Shop</span></dt>
                <dd>
                    <div *ngIf="product.shop">
                        <a [routerLink]="['/shop', product.shop?.id, 'view']">{{ product.shop?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
